{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {% block head %} {% endblock %}

  </head>
  <body>

    <header>

      <div class="header_menu">

        <a href="#">
          <div class="bottom_all_releases">

            <p>
              Все выпуски
            </p>

          </div>
        </a>

        <div class="header_logo">

          <a href="#">
            <img src="{% static "images/logo.png" %}">

            <p>
              Официальное медиа<br>
              школы 1506
            </p>
          </a>

        </div>

      </div>

      <!-- <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          <img src="{% static "images/logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
          Официальное медиа школы 1506
        </a>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выпуски</button>

      </nav> -->

    {% block release %} {% endblock %}

    </header>

    {% block content %} {% endblock %}

    <footer>

    </footer>

  </body>
</html>
