{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {% block head %} {% endblock %}

  </head>
  <body>

    <header>

      <div class="header_menu">

        <a tabindex="1" href="">
          <div class="bottom_all_releases">
            <p>
              Все выпуски
            </p>
          </div>
        </a>

        <div tabindex="-1" class="header_logo">

          <a tabindex="0" href="">
            <img src="{% static "images/logo.png" %}">

            <p>
              Официальное медиа<br>
              школы 1506
            </p>
            
          </a>

        </div>

      </div>

    {% block release %} {% endblock %}

    </header>

    {% block content %} {% endblock %}

    <footer>

      <div class='hyperlinks_list'>

        <a href=""><h1>Школа 1506</h1></a>
        <a href=""><h1>О проекте</h1></a>
        <a href=""><h1>Контакты</h1></a>

      </div>

      <div class='footer_content'>

        <h1>&copy</h1>

        <p>Проект Официальное<br />медиа школы 1506</p>

        <div class='project_participant'>

          <h2>Артём Зинкин</h2>
          <p>Руководитель проекта</p>

        </div>

        <div class='project_participant'>

          <h2>Арсений Кофанов</h2>
          <p>Разработка</p>

        </div>

        <div class='project_participant'>

          <h2>Артемий Скороходов</h2>
          <p>Главный редактор</p>

        </div>

      </div>

    </footer>

  </body>
</html>
