{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/basef.css" %}">

    {% block head %} {% endblock %}

  </head>
  <body>

    <header>

      <div class="all_header_menu">

        <div class="logo">

          <h2><a href="/">Paper</a></h2>

        </div>

      </div>

      <ul class="down_menu">

        <li><a href="#">Подписаться</a></li>

        <li><a href="#">О нас</a></li>

      </ul>

    </header>

    {% block content %} {% endblock %}

    <!-- <footer>

      <div class="footer__body">

        <a>Созданно учащимеся 10В класса</a>
        <a>В 2022 году.</a>

      </div>

    </footer> -->

  </body>
</html>
