{% extends 'main/base.html' %}
{% load static %}


{% block title %}

{{ title }}

{% endblock %}


{% block head %}

<link rel="stylesheet" href="{% static "css/index.css" %}">

{% endblock %}


{% block release %}

<div class="release">

  <div tabindex="0" class="release_title">
    <p>Ноябрь. 01.</p>
    <h1>#5. Тема выпуска</h1>
  </div>

  <div class="release_content">

    <p>
      В новом номере ТЕХНО мы рассказываем об одной из самых любимых наших тем — о погоде и том, как её предсказать. В ТЕХНО вас как всегда ждут исторический экскурс, рассказы про современные технологии, игры, тесты и подкаст. Подключайтесь!
    </p>

  </div>

</div>

{% endblock %}


{% block content %}

<div class='container_1'>

  <div class="first_post">

    <div class="first_post_content">

      <div class="first_post_image">
        <img src="{% static "images/test_post_image.jpg" %}">
      </div>

      <div class="first_post_title">
        <a class="stretched-link" href="">
          <h2 class="ms-2 color_black">Заголовок первого поста</h2>
        </a>
      </div>

      <div class="first_post_text color_black">
        <p class="ms-2">В ТЕХНО вас как всегда ждут исторический экскурс, рассказы про современные технологии, игры, тесты и подкаст.</p>
      </div>

    </div>

  </div>

  <div class="editor_words">

    <div tabindex="0" class="editor_words_content">

      <div class="editor_words_title">
        <h2>👨‍💻Слово главного<br>редактора</h2>
      </div>

      <div class="editor_words_text">
        <p>
          В новом номере ТЕХНО мы рассказываем об одной из самых любимых наших тем — о погоде и том, как её предсказать. В ТЕХНО вас как всегда ждут исторический экскурс, рассказы про современные технологии, игры, тесты и подкаст. Подключайтесь!
        </p>
      </div>

    </div>

  </div>

</div>

<div class='container_2'>

  <div class="min_post">

    <div class="min_post_content">
      <a href="">

      <div class="min_post_image">
        <img src="{% static "images/min_post_1.png" %}">
      </div>

      <div class="min_post_title color_black">
        <h2>Заголовок первого поста</h2>
      </div>

      </a>
    </div>

  </div>

  <div class="min_post">

    <div class="min_post_content">
      <a href="">

      <div class="min_post_image">
        <div class='play_icon'>
          <img src="https://cdn-icons-png.flaticon.com/512/27/27223.png"/>
        </div>

        <img src="{% static "images/min_post_2.jpg" %}">
      </div>


      <div class="min_post_title color_black">
        <h2>Заголовок второго поста</h2>
      </div>

      </a>
    </div>

  </div>

  <div class="min_post">

    <div class="min_post_content">
      <a href="">

      <div class="min_post_image">
        <div class='type_text'>
          <p>Игра-квест</p>
        </div>

        <img src="{% static "images/min_post_3.jpg" %}">
      </div>

      <div class="min_post_title color_black">
        <h2>Заголовок третьего поста</h2>
      </div>

      </a>
    </div>

  </div>

</div>

<div class='container_3'>

  <div class="subscribe">

    <div class="subscribe_content">

      <a class="stretched-link" href="https://t.me/wallnewspaper1506"><h3 class='h1'>Подписаться</h3></a>
      <p class='h2'>Чтобы первым узнать о новом выпуске!</p>

    </div>

    <img src="{% static "images/icon_telegram.svg" %}">

  </div>

</div>

<div class='container_2'>

  <div class="min_post">

    <div class="min_post_content">
      <a href="">

      <div class="min_post_image">
        <img src="{% static "images/min_post_1.png" %}">
      </div>

      <div class="min_post_title color_black">
        <h2>Заголовок первого поста</h2>
      </div>

      </a>
    </div>

  </div>

  <div class="min_post">

    <div class="min_post_content">
      <a href="">

      <div class="min_post_image">
        <div class='play_icon'>
          <img src="https://cdn-icons-png.flaticon.com/512/27/27223.png"/>
        </div>

        <img src="{% static "images/min_post_2.jpg" %}">
      </div>


      <div class="min_post_title color_black">
        <h2>Заголовок второго поста</h2>
      </div>

      </a>
    </div>

  </div>

  <div class="min_post">

    <div class="min_post_content">
      <a href="">

      <div class="min_post_image">
        <div class='type_text'>
          <p>Игра-квест</p>
        </div>

        <img src="{% static "images/min_post_3.jpg" %}">
      </div>

      <div class="min_post_title color_black">
        <h2>Заголовок третьего поста</h2>
      </div>

      </a>
    </div>

  </div>

</div>

<section class="bg-dark py-5 position-relative authors-wrapper">
    <div class="container-xl">
        <h3 class="display-3 text-white mb-5">Над выпуском работали</h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="row row-cols-lg-2">
                    <div class="d-flex align-items-center author-item">
                        <div class="flex-shrink-0">
                            <img src="https://via.placeholder.com/500" alt="..." class="author-img rounded-circle">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <span class="author-name">Иван Иванов</span>
                            <span class="author-post">дизайнер</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center author-item">
                        <div class="flex-shrink-0">
                            <img src="https://via.placeholder.com/500" alt="..." class="author-img rounded-circle">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <span class="author-name">Иван Иванов</span>
                            <span class="author-post">дизайнер</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center author-item">
                        <div class="flex-shrink-0">
                            <img src="https://via.placeholder.com/500" alt="..." class="author-img rounded-circle">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <span class="author-name">Иван Иванов</span>
                            <span class="author-post">дизайнер</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center author-item">
                        <div class="flex-shrink-0">
                            <img src="https://via.placeholder.com/500" alt="..." class="author-img rounded-circle">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <span class="author-name">Иван Иванов</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center author-item">
                        <div class="flex-shrink-0">
                            <img src="https://via.placeholder.com/500" alt="..." class="author-img rounded-circle">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <span class="author-name">Иван Иванов</span>
                            <span class="author-post">дизайнер</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center author-item">
                        <div class="flex-shrink-0">
                            <img src="https://via.placeholder.com/500" alt="..." class="author-img rounded-circle">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <span class="author-name">Иван Иванов</span>
                            <span class="author-post">дизайнер</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="new-post-wrapper">
                    <a href="" class="btn-new-post">
                        <span class="btn-new-post-text">Написть</span>
                        <span class="btn-new-post-text">статью</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
