{% extends 'main/base.html' %}
{% load static %}


{% block title %}

{{ title }}

{% endblock %}


{% block head %}

<link rel="stylesheet" href="{% static "css/indexf.css" %}">

{% endblock %}

{% block content %}

<div class="longer_post">

  <div class="longer_post_title">
    <h1>Title of a longer featured blog post</h1>
  </div>

  <div class="longer_post_content">
    <p>
      Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.
    </p>
  </div>

</div>

{% endblock %}
