{% extends 'main/base.html' %}
{% load static %}


{% block title %}

{{ title }}

{% endblock %}


{% block head %}

<link rel="stylesheet" href="{% static "css/index.css" %}">

{% endblock %}


{% block release %}

<div class="release">

  <div class="release_title">
    <p>Ноябрь. 01.</p>
    <h1>#5. Тема выпуска</h1>
  </div>

  <div class="release_content">

    <p>
      В новом номере ТЕХНО мы рассказываем об одной из самых любимых наших тем — о погоде и том, как её предсказать. В ТЕХНО вас как всегда ждут исторический экскурс, рассказы про современные технологии, игры, тесты и подкаст. Подключайтесь!
    </p>

  </div>

</div>

{% endblock %}


{% block content %}



{% endblock %}
