{% load static %}
{% load myeditorjs %}

<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static "css/post.css" %}">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
</head>
<body>
    <div class="hero"
    style="--hero-bg-left: {{ release.bg_left_color }}; --hero-bg-right: {{ release.bg_right_color }}; --hero-title-left: {{ release.title_left_color }}; --hero-title-right:{{ release.title_right_color }};">
        <nav class="navbar py-3">
            <div class="container-xl">
                <a class="d-flex align-items-center" href="{% url 'main' %}">
                    <img src="{% static "images/logo.png" %}" width="35">
                    <small class="ms-3 lh-1">
                        Официальное медиа<br>
                        школы 1506
                    </small>
                </a>
                <a class="btn btn-sm btn-outline-dark ms-auto" href="{% url 'releases' %}">Все выпуски</a>
            </div>
        </nav>
    </div>
    <div class="container-xl mb-4">
        <div class="row p-1 justify-content-center">
            <main class="col order-lg-last pt-3 justify-content-center">
                <div class="card justify-content-center">
                    <div class="px-4">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="..." class="rounded img-fluid">
                        {% endif %}
                    </div>
                    <div class="card-body px-4">
                        {{ post.short_description }}
                    </div>
                </div>
            </main>
            <article class="col-lg-7 post-bg">
                <div class="card post-content">
                    <div class="post-content"> 
                        {{ post.content | editorjs }}
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div>
        <nav>
            <ul class="pagination justify-content-center pagination-lg mb-5">
                {% for button in buttons|slice:"0:1" %}
                    <li class="page-item"><a class="page-link" href="{{ button.url }}">< {{ button.title }}</a></li>
                {% endfor %}
                {% for button in buttons|slice:"1:2" %}
                    <li class="page-item float-left"><a class="page-link" href="{{ button.url }}">{{ button.title }} ></a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <section class="bg-dark py-5 position-relative authors-wrapper">
        <div class="container-xl">
            <h3 class="display-3 text-white mb-5 fw-light">Над выпуском работали</h3>
            <div class="row wrapper-min">
                <div class="col-md-6 ">
                    <div class="row">
                        {% for member in release.get_release_members %}
                            <div class="col d-flex align-items-center author-item">
                                <div class="flex-shrink-0">
                                    <img src="{{ member.user_link.image.url }}" alt="..." class="author-img rounded">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <span class="author-name">{{ member.user_link.name }}</span>
                                    {% if member.role %}
                                        <span class="author-post">{{ member.role }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="new-post-wrapper">
                    <a href="" class="btn-new-post">
                        <span class="btn-new-post-text">Написть</span>
                        <span class="btn-new-post-text">статью</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="container-xl footer-info pb-4">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <div class="navbar-nav">
                    <a class="nav-link blue" href="https://gym1506.mskobr.ru/" >Школа 1506</a>
                    <a class="nav-link blue" href="https://github.com/Rimuwu/School-wall-newspaper">О проекте</a>
                    <a class="nav-link blue" href="#">Контакты</a>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <div class="navbar-nav small me-auto">
                    <a class="nav-link lh-sm me-3" href="#">
                        <strong>Артём Зинкин</strong><br>
                        <span>Руководитель проекта</span>
                    </a>
                    <a class="nav-link lh-sm me-3" href="#">
                        <strong>Арсений Кофанов</strong><br>
                        <span>Разработчик</span>
                    </a>
                    <a class="nav-link lh-sm me-3" href="#">
                        <strong>Артемий Скороходов</strong><br>
                        <span>Главный редактор</span>
                    </a>
                </div>
                <a class="navbar-brand d-flex align-items-center me-5 order-sm-first mt-4 mt-sm-0" href="#">
                    <span>
                        <img src="https://cdn-icons-png.flaticon.com/512/2658/2658057.png" width="40">
                    </span>
                    <small class="ms-2 lh-sm">
                        Проект Официальное<br>
                        медиа школы 1506
                    </small>
                </a>
            </div>
        </nav>
    </footer>
</body>
</html>


