*, *:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ChareInk Bold";
  src: url(ChareInk-Bold.ttf);
}

@font-face {
  font-family: "Comic Sans MS";
  src: url(Comic Sans MS.ttf);
}

html, body {
  height: 100%;

  background-color: white;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100% auto;

  padding: 0 3.5%;
}

@media screen and (max-width: 768px) {

}
