*, *:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url(Comic Sans MS.ttf);
}

html, body {
  height: 100%;
  
  background: rgb(2,0,36);
  background: linear-gradient(17deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

  /* background: url(../images/bcg.jpg); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100% auto; */
}
