*, *:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter-Black";
  src: url(Inter-Black.otf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(Inter-Regular.otf);
}

html, body {
}

header{
  background: linear-gradient(90deg, rgba(255, 199, 0, 0.7) 0%, rgba(255, 122, 0, 0.6) 100%);
  width: 100%;
  height: auto;

  padding-bottom: 25px;
  margin-bottom: 75px;
}

.header_menu{
  width: 100%;
  padding: 10px;
  padding-right: 15px;
  padding-bottom: 50px
}

.header_logo img{
  width: 150px;
  height: 50px;
  float: left;
}

.header_logo p{
  display: inline-block;
  padding-top: 8px;
  padding-left: 5px;
  float: left;

  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
}

.bottom_all_releases{
  float: right;
  padding: 13.5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

.bottom_all_releases a{
  text-decoration: none;
  color: black;
}

.bottom_all_releases a:visited {
  text-decoration: none;
  color: black;
}

.bottom_all_releases a:hover {
  text-decoration: none;
  color: black;
}

.bottom_all_releases a:active {
  text-decoration: none;
  color: blue;
}

.bottom_all_releases p{

  font-family: "Inter-Black", sans-serif;
  font-size: 20px
}

@media screen and (max-width: 980px) and (max-height: 2000px ) {

  .header_logo img{
    width: 225px;
    height: 75px;
  }

  .header_logo p{
    font-size: 25px;
  }

  .bottom_all_releases p{
    font-size: 35px
  }

  .header_menu{
    padding-bottom: 150px;
  }

}

@media screen and (max-width: 760px) {

  .header_logo img{
    width: 150px;
    height: 50px;
  }

  .header_logo p{
    font-size: 15px;
  }

  .bottom_all_releases p{
    font-size: 20px
  }

}
