*, *:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ChareInk Italic";
  src: url(ChareInk-Italic.ttf);
}

@font-face {
  font-family: "ChareInk Regular";
  src: url(ChareInk-Regular.ttf);
}

html, body {
  height: 100%;
}

@media screen and (max-width: 988px) {

}

@media screen and (max-width: 768px) {

}
