*, *:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ChareInk Italic";
  src: url(ChareInk-Italic.ttf);
}

@font-face {
  font-family: "ChareInk Regular";
  src: url(ChareInk-Regular.ttf);
}

@font-face {
  font-family: "Comic Sans MS";
  src: url(Comic Sans MS.ttf);
}

html, body {
  height: 100%;
}

.release{
  padding-left: 15px;
  padding-top: 65px;
}
.release_title{
  font-family: "Comic Sans MS", sans-serif;
}

.release_title h1{
  font-size: 40px;

  color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
    to right,
    rgb(255, 77, 77),
    rgb(251, 212, 4)
  );

}

.release_title p{
  color: black;
}

.release_content{
  width: 750px;

  font-family: "Comic Sans MS", sans-serif;
}

.release_content p{
  font-size: 20px;
}

@media screen and (max-width: 988px) {

  .release_content{
    width: 650px;
  }

}

@media screen and (max-width: 768px) {

  .release_content{
    width: 548px;
  }

}

@media screen and (max-width: 548px) {

  .release_content{
    width: 95%;
  }

}
