*, *:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter-Black";
  src: url(Inter-Black.otf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(Inter-Regular.otf);
}

html, body {
  height: 100%;
}

.release{
  padding-left: 20px;
  padding-top: 65px;
}
.release_title{
  font-family: "Inter-Black", sans-serif;
}

.release_title h1{
  font-size: 50px;

  color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
    to right,
    rgb(255, 77, 77),
    rgb(251, 212, 4)
  );

}

.release_title p{
  color: black;
  font-size: 15px;
}

.release_content{
  width: 750px;
  font-family: "Inter-Regular", sans-serif;
}

.container_1{
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;

  align-items: flex-start;
}

.editor_words{
  padding-right: 25px;
  padding-bottom: 45px;
}

.editor_words_content{
  width: 90%;

  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 15px;
}

.editor_words_title h1{
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  padding-bottom: 25px;
}

.release_content p{
  font-size: 20px;
}

.editor_words_text p{
  font-family: "Inter-Regular", sans-serif;
  text-align: left;
  font-size: 20px
}

.first_post{
  display: flex;

  padding-left: 25px;
  padding-bottom: 60px;
}

.first_post_content{
  width: 95%;

  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 15px;
}

.first_post_content a{
  text-decoration: none;
  color: black;
}

.first_post_content a:visited {
  text-decoration: none;
  color: black;
}

.first_post_content a:hover {
  text-decoration: none;
  color: black;
}

.first_post_content a:active {
  text-decoration: none;
  color: black;
}

.first_post_image img{
  width: 100%;
  border-radius: 10px;
}

.first_post_title{
  font-family: "Inter-Black", sans-serif;
  font-size: 25px;
  line-height: 0.8;

  padding-top: 10px;
  padding-bottom: 10px;
}

.first_post_text{
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
}

.container_2{
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  align-items: flex-start;

  padding: 25px;
  padding-top: 0;

  /* background-color: red */
}

.min_post{
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  /* width: 450px; */

  /* background-color: blue; */
}

.min_post_content{
  width: 550px;

  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  border-radius: 15px;
  padding: 15px;
}

.min_post_image img{
  width: 100%;
  border-radius: 15px;
}

.min_post_title{
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {

  .release_content{
    width: 650px;
  }

  .editor_words{
    padding-right: 0;
    display: flex;
    justify-content: center;
  }

  .editor_words_content{
    width: 90%
  }

  .first_post_content{
    width: 90%;
  }

  .first_post{
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
  }

}

@media (max-width: 988px) {

  .container_1{
    display: inline-block;
  }

}

@media (max-width: 768px) {

  .release_content{
    width: 548px;
  }

}

@media (max-width: 548px) {

  .release_content{
    width: 95%;
  }

}
